.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-nav-list {
  padding: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 8px;
}

button {
  margin-right: 8px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-buttons {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mat-toolbar-single-row {
  height: 56px;
}
